*{
    border: border-box;
}

div.system {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(2, 285px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

main{
    padding: 16px;
}

h1{
    background-color: rgb(185, 47, 4);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img{
    height: 200px;
    image-rendering: crisp-edges;
}

nav{
    background-color: rgb(26, 134, 71);
    color: azure;
    border-width: 1px;
    border-style:hidden;
    border-color: black;
    padding: 16px;
}

h3{
    display: block;
    color: rgb(68, 87, 175);
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link{
    text-decoration: none;
    color:rgb(247, 235, 80);
}

a:visited{
    text-decoration: none;
    color:rgb(7, 16, 150);
}

a:hover {
    text-decoration: none;
    color:rgb(40, 153, 55);
}

a:active {
    text-decoration: none;
    color:rgb(196, 67, 67);
}

footer{
    block-size: 100px x 100px;
    background-color: bisque;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
